* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: white;
}

/*  NavBar Style  */

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  margin: 0 auto;
}

.navigation-items {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navigation-items li {
  padding: 0 1rem 0 1rem;
  margin: 0.5rem 0 0.5rem 0;
}

.navigation-items a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/*  Contact Style  */

main {
  margin: 30px 5% 0 5%;
}

#contact {
  display: flex;
  flex-direction: column;
}

#contact h2 {
  font-size: 2rem;
}

#contact p {
  margin: 10px 0 10px 0;
}

.contact-icons i {
  padding: 10px;
}

.fab,
.fas {
  color: white;
}

.fab:hover,
.fas:hover {
  color: darkslateblue;
}

a:focus,
a:focus {
  color: white;
}
